

 <div class="container">
      
        <h2 class="form-signin-heading">Amicale manager pour envoyer des notifications.</h2> <br><br><br><br>

        <a href="/post"><button class="btn btn-lg btn-primary btn-block" >Voir les notifications</button></a><br><br>
        <a href="/post/new"><button class="btn btn-lg btn-primary btn-block" >Send notification</button></a><br><br>
        <a href="/logout"><button class="btn btn-lg btn-primary btn-block" >Log out</button></a>
      

    </div> <!-- /container -->